.margin{
    margin-top: 50px;
}
.kilo2meter{
    margin-top: 30px;
}
.top{
    margin-top: 70px;
}

#third{
    margin: 10px 0px 10px 155px;
}

#fourth{
    margin: 10px 0px 10px 155px; 
}
#five{
    margin: 10px 0px 10px 152px;
}
#sixth{
    margin: 10px 0px 10px 20px;
}