.margin{
    margin-top: 50px;
}
.kilo2meter{
    margin-top: 30px;
}
.top{
    margin-top: 70px;
}
#first{
    margin: 10px;
}
#second{
    margin: 10px;
}

#third{
    margin: 10px 0px 10px 155px;
}

#fourth{
    margin: 10px 0px 10px 155px; 
}
#five{
    margin: 10px 0px 10px 152px;
}
#sixth{
    margin: 10px 0px 10px 20px;
}
input {
    color: orangered;
    border-width: 1px;
    margin: 10px;
  }
  body{
      background-color: rgb(255, 255, 194);
  }

  span{
      margin-left: 10px;
  }
  .hotel{
      margin-top: 70px;
  }
  .loop{
      margin: 70px 0px 300px 0px;
  }